@import url(../vendor/normalize.css);
@import url(../vendor/font.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__conteiner-icon/card__conteiner-icon.css);
@import url(../blocks/card/__icon/card__icon.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__main-text/card__main-text.css);
@import url(../blocks/card/__button/card__button.css);
@import url(../blocks/card/__button-icon/card__button-icon.css);